{{#each this}}
<div class="card">
    <div class="card-body">
        <h2 class="country-name">Country: {{name}}</h2>
        <h2 class="card-title">Capital: {{capital}}</h2>
        <p class="card-text">Population: {{population}}</p>
        <p class="card-text">Languagues:</p>
        <ul class="list-group">
            {{#each languages}}
            <li class="list-groupp-item">- {{name}}</li>
            {{/each}}
        </ul>
        <div class="card-img-top">
            <img src="{{flag}}" alt="{{name}}" width="400">
        </div>
    </div>
</div>
{{/each}}